*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color:rgb(70, 130, 180);
}

#gameContainer{
    background-color:rgb(115, 146, 175);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 30px;
    border: 3px solid black;
}

.cardGrid{
    height: 300px;
    width: 750px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    transform-style: preserve-3d;
    perspective: 500px;
    
}


#heading{
    font-family: 'New Amsterdam', monospace;
    font-size: 42px;
}

#reset_button{
    font-size: 28px;
    font-family: 'New Amsterdam', monospace;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
#reset_button:hover{
    transform: scale(1.02);
}

.item{
    position: relative;
    background-color: slategray;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    height: 80px;
    width: 80px;
    transform: rotateY(180deg);
    transition: 0.3s;
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background: slategray;
    transition: 0.3s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen::after{
    transform: rotateY(180deg);
}

.boxMatch{
    opacity: 0;
    pointer-events: none;
}

#movesHeading{
    font-family: 'New Amsterdam', monospace;
}