@media screen and (max-width: 375px) {
  #gameContainer {
    gap: 0px;
    max-height: 100vh;
    max-width: 100vw;
  }
  #gameContainer .cardGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  #gameContainer .item {
    width: 20px;
    height: 35px;
    border-radius: 5px;
    font-size: 22px;
  }
  #gameContainer #heading {
    font-size: 32px;
  }
  #gameContainer #reset_button {
    font-size: 22px;
    top: auto;
    bottom: 10px;
    right: 40px;
  }
  #gameContainer .winStatement {
    padding-top: 100px;
    font-size: 18px;
  }
}
@media screen and (min-width: 376px) and (max-width: 560px) {
  #gameContainer {
    max-height: 100vh;
    max-width: 100vw;
  }
  #gameContainer .cardGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  #gameContainer .item {
    width: 36px;
    height: 58px;
    font-size: 26px;
    border-radius: 5px;
  }
  #gameContainer #reset_button {
    font-size: 22px;
    position: relative;
    top: 0px;
    right: 0px;
  }
  #gameContainer .winStatement {
    padding-top: 100px;
    font-size: 20px;
  }
}
@media screen and (min-width: 561px) and (max-width: 850px) {
  #gameContainer .cardGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  #gameContainer #reset_button {
    top: auto;
    bottom: 20px;
    right: 80px;
  }
  #gameContainer .winStatement {
    padding-top: 100px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  #gameContainer #heading {
    font-size: 70px;
  }
  #gameContainer #movesHeading {
    font-size: 40px;
  }
  #gameContainer #reset_button {
    font-size: 40px;
  }
  #gameContainer .cardGrid {
    width: 100%;
  }
  #gameContainer .item {
    width: 88px;
    height: 130px;
    font-size: 50px;
  }
}
@media screen and (min-width: 2561px) {
  #gameContainer #heading {
    font-size: 80px;
  }
  #gameContainer #movesHeading {
    font-size: 50px;
  }
  #gameContainer #reset_button {
    font-size: 50px;
  }
  #gameContainer .item {
    width: 120px;
    height: 120px;
    font-size: 60px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(52, 46, 46);
}

#gameContainer {
  background-image: url("./imgs/poker_table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 30px;
  border: 3px solid black;
}

.cardGrid {
  display: grid;
  width: 100%;
  height: 90%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  background-color: ghostwhite;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
  width: 66px;
  transform: rotateY(180deg);
  transition: 0.3s;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./imgs/playingcardblue.jpg");
  border-radius: 10px;
  background-size: contain;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.boxOpen::after {
  transform: rotateY(180deg);
}

.boxMatch {
  opacity: 0;
  pointer-events: none;
}

#movesHeading {
  font-family: "New Amsterdam", monospace;
}

.startUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(152, 7, 7);
  padding: 30px;
  border-radius: 10px;
  line-height: 250%;
  box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.startUp li {
  list-style-type: none;
}
.startUp__heading {
  font-family: "New Amsterdam", monospace;
  font-size: 42px;
  color: whitesmoke;
  padding-bottom: 20px;
}
.startUp__Text {
  font-family: "New Amsterdam", monospace;
  font-size: 16px;
  color: whitesmoke;
  padding-left: 60px;
}
.startUp__subheadings {
  font-family: "New Amsterdam", monospace;
  font-size: 22px;
  color: whitesmoke;
  padding-left: 20px;
  padding-bottom: 5px;
  text-decoration: underline;
}
.startUp__button {
  font-size: 28px;
  font-family: "New Amsterdam", monospace;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  background-color: transparent;
  color: whitesmoke;
  margin-top: 30px;
}
.startUp__button:hover {
  transform: scale(1.02);
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.topBar__heading {
  font-family: "New Amsterdam", monospace;
  font-size: 42px;
  color: whitesmoke;
  display: none;
}
.topBar__movesHeading {
  font-family: "New Amsterdam", monospace;
  color: whitesmoke;
  display: none;
}
.topBar__timerHeading {
  font-family: "New Amsterdam", monospace;
  color: whitesmoke;
  display: none;
}
.topBar__topScoreContainer {
  font-family: "New Amsterdam", monospace;
  color: whitesmoke;
  display: none;
}

.winContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(152, 7, 7);
  padding: 30px;
  border-radius: 10px;
  line-height: 250%;
  box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 220px;
}
.winContainer__winStatement {
  display: none;
  padding-top: 20px;
  color: whitesmoke;
  font-size: 50px;
  margin: 20px;
}
.winContainer__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.winContainer__buttons--return, .winContainer__buttons--reset {
  font-size: 28px;
  font-family: "New Amsterdam", monospace;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  background-color: transparent;
  color: whitesmoke;
  margin: 40px;
}
.winContainer__buttons--return:hover, .winContainer__buttons--reset:hover {
  transform: scale(1.02);
}

/*# sourceMappingURL=style.css.map */
