@media screen and (max-width: 375px) {
  #gameContainer {
    gap: 0px;
    max-height: 85vh;
    max-width: 70%;
  }
  #gameContainer .cardGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  #gameContainer .item {
    width: 30px;
    height: 30px;
  }
  #gameContainer #heading {
    font-size: 32px;
  }
  #gameContainer #reset_button {
    font-size: 22px;
  }
}
@media screen and (min-width: 376px) and (max-width: 560px) {
  #gameContainer {
    max-height: 85vh;
    max-width: 70%;
  }
  #gameContainer .cardGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  #gameContainer .item {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 561px) and (max-width: 850px) {
  #gameContainer .cardGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  #gameContainer .item {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  #gameContainer #heading {
    font-size: 70px;
  }
  #gameContainer #movesHeading {
    font-size: 40px;
  }
  #gameContainer #reset_button {
    font-size: 40px;
  }
  #gameContainer .cardGrid {
    width: 100%;
  }
  #gameContainer .item {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
}
@media screen and (min-width: 2561px) {
  #gameContainer #heading {
    font-size: 80px;
  }
  #gameContainer #movesHeading {
    font-size: 50px;
  }
  #gameContainer #reset_button {
    font-size: 50px;
  }
  #gameContainer .item {
    width: 120px;
    height: 120px;
    font-size: 60px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(70, 130, 180);
}

#gameContainer {
  background-color: rgb(115, 146, 175);
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 30px;
  border: 3px solid black;
}

.cardGrid {
  display: grid;
  width: 100%;
  height: 90%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  transform-style: preserve-3d;
  perspective: 500px;
}

#heading {
  font-family: "New Amsterdam", monospace;
  font-size: 42px;
}

#reset_button {
  font-size: 28px;
  font-family: "New Amsterdam", monospace;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

#reset_button:hover {
  transform: scale(1.02);
}

.item {
  position: relative;
  background-color: slategray;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid black;
  padding: 10px;
  height: 80px;
  width: 80px;
  transform: rotateY(180deg);
  transition: 0.3s;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: slategray;
  transition: 0.3s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.boxOpen::after {
  transform: rotateY(180deg);
}

.boxMatch {
  opacity: 0;
  pointer-events: none;
}

#movesHeading {
  font-family: "New Amsterdam", monospace;
}

/*# sourceMappingURL=style.css.map */
