@import "./gallery.scss";
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(52, 46, 46);
}

#gameContainer {
    background-image: url("./imgs/poker_table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 30px;
    border: 3px solid black;
}

.cardGrid {
    display: grid;
    width: 100%;
    height: 90%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    transform-style: preserve-3d;
    perspective: 500px;
}

#heading {
    font-family: "New Amsterdam", monospace;
    font-size: 42px;
    color: whitesmoke;
}

#movesHeading {
    color: whitesmoke;
}

#reset_button {
    font-size: 28px;
    font-family: "New Amsterdam", monospace;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    background-color: transparent;
    position: absolute;
    top: 50px;
    right: 100px;
    color: whitesmoke;
}
#reset_button:hover {
    transform: scale(1.02);
}

.item {
    position: relative;
    background-color: ghostwhite;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    width: 66px;
    transform: rotateY(180deg);
    transition: 0.3s;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./imgs/playingcardblue.jpg");
    border-radius: 10px;
    background-size: contain;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen::after {
    transform: rotateY(180deg);
}

.boxMatch {
    opacity: 0;
    pointer-events: none;
}

#movesHeading {
    font-family: "New Amsterdam", monospace;
}

.winStatement {
    display: none;
    padding-top: 120px;
    color: whitesmoke;
    font-size: 50px;
}
